/***************************************
 * Galen Cochrane
 * April 01 2018
 * INFO 2220
 * Jon Holmes
 * Assignment 8
 * External Style Sheet
 **************************************/

ul {
	list-style-type: none;
	font-size: 1.5em;
}

li {
	border-radius: .5em;
	margin: 1em;
}

li.group1 {
	background-color: #bee;
}
li.group2 {
	background-color: #ebe;
}
li.group3 {
	background-color: #eeb;
}

li span {
	margin: 1em;
}
